.form-div{
  background-color: #111;
  padding: 24px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  gap: 20px;

  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.form-div{
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-control input,
.form-control textarea {
  background-color: #222;
  border: 1px solid #444;
  padding: 12px;
  border-radius: 6px;
  color: white;
  font-size: 1rem;
  outline: none;
  resize: none;
}

.form-control input:focus,
.form-control textarea:focus {
  border-color: #e50914;
}

.description {
  min-height: 120px;
}

.form button {
  background-color: #e50914;
  padding: 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.2s;
}

.form button:hover {
  background-color: #f6121d;
  transform: translateY(-2px);
}

.form-error {
  color: #ff6262;
  font-size: 0.9rem;
  text-align: center;
}

.form-sucess {
  color: #44d86f;
  font-size: 0.9rem;
  text-align: center;
}