.list-wrapper{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-title{
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.list-conteiner{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

@media (min-width: 728px) {
  
  .list-conteiner{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}